<div style="width: 90%;">
<table id="tblFixed" cellpadding="0" cellspacing="0" class="tblFixed">
<thead>
<tr>
    <th align="left" style="">Nombre</th>
    <th align="left" style="">RUT</th>
    <th align="center" style="">Edad</th>
    <th align="left" style="">Teléfono</th>
    <th align="left" style="">Email</th>
    <th align="center" style="">Fecha Ingreso</th>
    <th align="center" style="">Activo</th>
    <th align="center" style="">Editar</th>
</tr>
</thead>

<tbody>
{% for alumno in alumnos %}
<tr>
    <td align="left">{{ alumno.nombre }}</td>
    <td align="left">{{ alumno.rut }}</td>
    <td align="center">{{ alumno.edad }}</td>
    <td align="left">{{ alumno.telefono }}</td>
    <td align="left">{{ alumno.email }}</td>
    <td align="center">{{ alumno.fechaIngreso }}</td>
    <td align="center"><img src="{{ asset('bundles/public/images/ok.png') }}" style="visibility: {{ alumno.visibleGrid }}; display: {{ alumno.extra }}" alt="" ></td>
    <td align="center">
        <a href="javascript:void(0)" onClick="Popup('Edit/{{ alumno.hashedId }}', '800', '600');" style="display: {{ alumno.extra }}" >
			<img src="{{ asset('bundles/public/images/edit_blue.png') }}" border='0' alt="">
        </a>
    </td>
</tr>
{% endfor %}
<!-- Relleno Grilla -->
{% for i in 0..12 %}
<tr>
    <td align="left"></td>
    <td align="left"></td>
    <td align="center"></td>
    <td align="left"></td>
    <td align="left"></td>
    <td align="center"></td>
    <td align="center"></td>
    <td align="center"></td>
</tr>
{% endfor %}
</tbody>

</table>
</div>