<div style="width: 90%;">
<table id="tblFixed" cellpadding="0" cellspacing="0" class="tblFixed">
<thead>
<tr>
    <th align="left" style="width: 25%;">Nombre</th>
    <th align="left" style="width: 25%;">Apellido</th>
    <th align="left" style="width: 20%;">Código</th>
    <th align="center" style="width: 15%;">Activo</th>
    <th align="center" style="width: 15%;">Editar</th>
</tr>
</thead>

<tbody>
{% for instructor in instructores %}
<tr>
    <td align="left">{{ instructor.nombre }}</td>
    <td align="left">{{ instructor.apellido }}</td>
    <td align="left">{{ instructor.codigo }}</td>
    <td align="center"><img src="{{ asset('bundles/public/images/ok.png') }}" style="visibility: {{ instructor.activo }}; display: {{ instructor.extra }}" alt="" ></td>
    <td align="center">
        <a href="javascript:void(0)" onClick="Popup('Edit/{{ instructor.hashedId }}', '600', '400');" style="display: {{ instructor.extra }}" >
			<img src="{{ asset('bundles/public/images/edit_blue.png') }}" border='0' alt="">
        </a>
    </td>
</tr>
{% endfor %}
<!-- Relleno Grilla -->
{% for i in 0..12 %}
<tr>
    <td align="left"></td>
    <td align="left"></td>
    <td align="left"></td>
    <td align="center"></td>
    <td align="center"></td>
</tr>
{% endfor %}
</tbody>

</table>
</div>