{% extends 'base_popup.html.twig' %}

{% block body %}

<script src="{{ asset('bundles/public/js/abm.js') }}" type="text/javascript"></script>

<div id="content" class="body_abm">

<center>
<form id="frmInstructorAddEdit" method="post" action="{{urlInstructorSave}}"/>

<br/><br/>
<table width="80%" cellpadding="1" cellspacing="1" border="0">
    <tr>
        <td align="center"><span class="titleAddEdit">{{titulo}} Instructor</span></td>
    </tr>
</table>
<br/>

<table width="80%" cellpadding="1" cellspacing="1" border="0">
    <tr class="CeldaTxtBuscar">
        <td>Nombre (*):</td>
        <td><input type="text" class="inputTextCommon" maxlength="50" id="txtNombre" name="txtNombre" value="{{strNombre}}"/></td>
    </tr>
    <tr class="CeldaTxtBuscar">
        <td>Apellido (*):</td>
        <td><input type="text" class="inputTextCommon" maxlength="50" id="txtApellido" name="txtApellido" value="{{strApellido}}"/></td>
    </tr>
    <tr class="CeldaTxtBuscar">
        <td>Código (*):</td>
        <td><input type="text" class="inputTextCommon" maxlength="10" id="txtCodigo" name="txtCodigo" value="{{strCodigo}}"/></td>
    </tr>
    <tr class="CeldaTxtBuscar">
        <td style="vertical-align: top;">Disciplinas:</td>
        <td>
			<div class="divDisciplinas">
				{% for disciplina in disciplinas %}
					<div><input type="checkbox" 
								class="classCheckboxDisciplina"
								id="chkDisciplina_{{ disciplina.id }}" 
								name="chkDisciplina_{{ disciplina.id }}" 
								value="{{ disciplina.id }}"
								{% if disciplina.indiId %} checked="checked" {% else %} '' {% endif %}
								>
						[{{ disciplina.codigo }}] - {{ disciplina.nombre }}
					</div>
				{% endfor %}
			</div>		
		</td>
    </tr>
    <tr class="CeldaTxtBuscar">
        <td>Activo:</td>
        <td><input type="checkbox" class="classCheckbox" id="chkActivo" name="chkActivo" {{chkActivo}} value="" onclick="FxSetCheckBox();"/></td>
    </tr>
</table>
<br/><br/>
<table width="80%" cellpadding="1" cellspacing="1" border="0">
    <tr>
        <td align="center">
            <input class="css_btn_class_dark" type="button" value="Grabar" name="btnSave" id="btnSave" onclick="FxSaveInstructorJS();"/>
            <input class="css_btn_class_dark" type="button" value="Cerrar" name="btnClose" id="btnClose" onclick="javascript: window.close();"/>
        </td>
    </tr>
</table>

<input type="hidden" id="txtInstructorId" name="txtInstructorId" value="{{instructorId}}"/>
<input type="hidden" id="txtArrayDisciplinas" name="txtArrayDisciplinas" value=""/>
<input type="hidden" id="txtArrayDisciplinasNo" name="txtArrayDisciplinasNo" value=""/>
<div id="div_null"></div>

<script type="text/javascript">
FxSetCheckBox();
{{FxCallback|raw}}
</script>

</form>
</center>

</div>

{% endblock %}
