<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HeroGym{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('bundles/public/js/jquery-1.11.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/public/js/common_functions.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/public/custom_alert/jquery.alerts.js') }}" type="text/javascript"></script>
		<script src="{{ asset('bundles/public/js/main.js') }}" type="text/javascript"></script>
		<link rel="stylesheet" href="{{ asset('bundles/public/css/style.css') }}" type="text/css" >
		<link rel="stylesheet" href="{{ asset('bundles/public/custom_alert/jquery.alerts.css') }}" type="text/css" >
		
		<link rel="stylesheet" href="{{ asset('bundles/public/cssmenu/menu_styles.css') }}" type="text/css" >
    </head>
    <body class="bodyPopup">
        {% block body %}{% endblock %}
        <script type="text/javascript">
        {% block javascripts %}
            
        {% endblock %}
        </script>
    </body>
</html>
