<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Código5411{% endblock %}</title>

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/public/css/materialize.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/public/css/custom.css') }}"  media="screen,projection"/>
		<!--Social media icons-->
		        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/public/css/font-awesome.css') }}"  media="screen,projection"/>
        <!-- Sweet Alert CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/public/lib/sweetalert/dist/sweetalert.css') }}" />   		
        {% block stylesheets %}
		
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/public/images/favicon.ico') }}?v=2" />
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Jquery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Materialize -->
        <script src="{{ asset('bundles/public/js/Materialize/materialize.js') }}" type="text/javascript"></script>
		<!-- Common Functions -->
        <script src="{{ asset('bundles/public/js/Common/common_functions.js') }}" type="text/javascript"></script>
		<!-- AJAX Functions -->
        <script src="{{ asset('bundles/public/js/Common/ajax_functions.js') }}" type="text/javascript"></script>
		<!-- Alert Functions -->
        <script src="{{ asset('bundles/public/js/Common/common_alerts.js') }}" type="text/javascript"></script>
		<!-- Jquery Functions -->
        <script src="{{ asset('bundles/public/js/Common/common_jquery_functions.js') }}" type="text/javascript"></script>
		<!-- Portal Functions -->
        <script src="{{ asset('bundles/public/js/Frontend/portal.js') }}" type="text/javascript"></script>
        <!-- Sweet Alert -->
        <script src="{{ asset('bundles/public/lib/sweetalert/dist/sweetalert.min.js') }}" type="text/javascript"></script>
        <!-- Paginator -->
        <script src="{{ asset('bundles/public/lib/materializePagination/materialize-pagination.min.js') }}" type="text/javascript"></script>
        <!-- Dotdotdot -->
        <script src="{{ asset('bundles/public/lib/Dotdotdot/src/jquery.dotdotdot.min.js') }}" type="text/javascript"></script>
		

    </head>

    <body>
		<div class="navbar-fixed">
			<nav class="codigo54411MainColor">
				<div class="nav-wrapper">
					<a href="{{ arrayUrlAjax.UrlSite }}" class="brand-logo center"><img src="{{ asset('bundles/public/images/logo.png') }}"></a>
					<ul class="right">
						<li><a href="{{ arrayUrlAjax.UrlOtherNews}}"><i class="material-icons">search</i></a></li>
					</ul>
				</div>
			</nav>
		</div>
		
		<div class="row hide-on-med-and-down" style="margin-bottom: 0px !important; width: 100%;">
			<div class="col l8">
				<div class="row margingBottomNull grey lighten-5">
					<div class="col l6 grey lighten-4 "> 
						<div class="socialbtns center">
							<ul>
								<li><a href="https://www.facebook.com/codigo5411" target="_blank" class="fa fa-lg fa-facebook"></a></li>
								<li><a href="https://twitter.com/codigo5411" target="_blank" class="fa fa-lg fa-twitter"></a></li>
								<li><a href="https://www.youtube.com/channel/UCboZo_uVGrPujmAX3LY3twg" target="_blank" class="fa fa-lg fa-youtube"></a></li>
								<li><a href="mailto:codigo5411digital@gmail.com" target="_blank" class="fa fa-lg fa-envelope"></a></li>	
								<li><a href="https://www.google.com/maps" target="_blank" class="fa fa-lg fa-map"></a></li>										
							</ul>
						</div>						
					</div>
					<div class="center date col l6 dateDay">{{ formattedDate|raw }}</div>
				</div>
			</div>
			
			<div class="col l4">
				<div class="center-align">
					<div class="tiempo-widget">
						<!-- www.TuTiempo.net - Ancho:182px - Alto:77px -->
						<div id="TT_RujEEEEk1ddBCa9A7fqjzDzzDWlALEIlbdkdksiIq1D">Pronóstico de Tutiempo.net</div>
						<script type="text/javascript" src="http://www.tutiempo.net/widget/eltiempo_RujEEEEk1ddBCa9A7fqjzDzzDWlALEIlbdkdksiIq1D"></script>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row hide-on-large-only" style="margin-bottom: 0px; width: 100%;">
			<div class="col s12 grey lighten-5" style="padding:20px;">
				<div class="center dateDay">{{ formattedDate|raw }}</div>
			</div>
		</div>
	
        {% block body %}{% endblock %}
		<div id="divResponseAjaxPopupModal"></div>
		<div id="divLoading"></div>
        <script type="text/javascript">
        {% block javascripts %}
            
        {% endblock %}
        </script>
    </body>
	
	<footer class="page-footer codigo54411MainColor">
		<div class="footer-copyright">
			<div class="container center">© 2017 Copyright Código 5411</div>
		</div>
	</footer>	  
</html>