{% extends 'base_frontend.html.twig' %}

{% block body %}

<main>

	<div class="row"></div>
	<div class="row" style="margin-top: 10px !important;">
		<div class="col s8 offset-s2">
			<div class="card">
				<div class="card-content">
					<div class="titleNews">{{ newsData.noticiaData.titulo }}</div>
					<!--<div class="copeteTxt">lorem ipsum dolor sit amet consectetur adipiscing elit sed</div>-->
					{% if newsData.noticiaData.imagen %}
					<div><img src="{{ asset('bundles/public/upload/news/') }}{{ newsData.noticiaData.imagen }}" style="" width="100%"></div>
					{% endif %}
					<div>
						<ul class="share-buttons">
							<!-- Facebook -->
							<li>
								<div class="" data-href="{{ newsData.noticiaData.url }}" data-layout="button" data-size="large" data-mobile-iframe="true" style="float: left; margin-right: 5px;">
									<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ newsData.noticiaData.urlEncoded }}&amp;src=sdkpreparse">
										<img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}">
									</a>
								</div>
							</li>
							<!-- Twitter -->
							<li>
								<a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text={{ newsData.noticiaData.titulo }}&url={{ newsData.noticiaData.urlEncoded }}">
									<img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}">
								</a>
							</li>
							<!-- Mail -->
							<li>
								<a href="mailto:?subject={{ newsData.noticiaData.titulo }}&body={{ newsData.noticiaData.url }}" target="_blank" title="Send email">
									<img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}">
								</a>
							</li>
						</ul>
					</div>	
					<div class="divider"></div>
					<div>
						<p class="">{{ newsData.noticiaData.texto|raw }}</p>
						<blockquote><b>{{ newsData.noticiaData.autor }}</b></blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	
</main>
  
<script>

</script>		
	
{% endblock %}