{% extends 'base_frontend.html.twig' %}

{% block body %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<main>

	<div class="row" style="margin-top: 10px !important;">
		<div class="col s12 l6">
			<div class="card">
				<!--<a href="javascript:void(0);" onclick="javascript:FxOpenModal();">-->
				<!--!a href="#divModal">-->
					<div class="card-content">
						<div class="titleNews">{{ news[0].titulo }}</div>
						<div id="divTextNoticia0" class="copeteTxt ellipsisText" style="max-height: 120px;">{{ news[0].texto|raw }}
							<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[0].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
						</div>
						{% if news[0].imagen %}
						<div><img src="{{ asset('bundles/public/upload/news/') }}{{ news[0].imagen }}" style="" width="100%"></div>
						{% endif %}
						<div>
							<ul class="share-buttons">
								<!-- Facebook -->
								<li>
									<div class="" data-href="{{ news[0].url }}" data-layout="button" data-size="large" data-mobile-iframe="true" style="float: left; margin-right: 5px;">
										<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ news[0].urlEncoded }}&amp;src=sdkpreparse">
											<img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}">
										</a>
									</div>
								</li>
								<!-- Twitter -->
								<li>
									<a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text={{ news[0].titulo }}&url={{ news[0].urlEncoded }}">
										<img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}">
									</a>
								</li>
								<!-- Mail -->
								<li>
									<a href="mailto:?subject={{ news[0].titulo }}&body={{ news[0].url }}" target="_blank" title="Send email">
										<img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}">
									</a>
								</li>
							</ul>
						</div>
					</div>
				<!--</a>-->
			</div>
		</div>
			
		<div class="col s12 l2">				
				<div class="News2">
					<div class="titleNews">{{ news[1].titulo }}</div>
					<div id="divTextNoticia1" class="copeteTxt ellipsisText" style="max-height: 300px;">{{ news[1].texto|raw }}
						<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[1].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
					</div>
					<div>
						<ul class="share-buttons">
							<!-- Facebook -->
							<li>
								<div class="" data-href="{{ news[1].url }}" data-layout="button" data-size="large" data-mobile-iframe="true" style="float: left; margin-right: 5px;">
									<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ news[1].urlEncoded }}&amp;src=sdkpreparse">
										<img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}">
									</a>
								</div>
							</li>
							<!-- Twitter -->
							<li>
								<a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text={{ news[1].titulo }}&url={{ news[1].urlEncoded }}">
									<img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}">
								</a>
							</li>
							<!-- Mail -->
							<li>
								<a href="mailto:?subject={{ news[1].titulo }}&body={{ news[1].url }}" target="_blank" title="Send email">
									<img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}">
								</a>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="section">
					<div class="divider"></div>
				</div>
			<a href="{{ arrayUrlAjax.UrlOtherNews}}" class="waves-effect waves-light btn-large pink darken-3 OtrasNoticias hide-on-med-and-down" style="margin-top:10%;">Otras <b>Noticias</b></a>
		</div>	
		<div class="col s12 l4">	
			<div class="card">
				<div class="card-content">
					<div class="titleNews">{{ news[2].titulo }}</div>
					<div id="divTextNoticia2" class="copeteTxt ellipsisText" style="max-height: 120px;">{{ news[2].texto|raw }}
						<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[2].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
					</div>
					{% if news[2].imagen %}
					<div><img src="{{ asset('bundles/public/upload/news/') }}{{ news[2].imagen }}" style="" width="100%"></div>
					{% endif %}
					<div>
						<ul class="share-buttons">
							<!-- Facebook -->
							<li>
								<div class="" data-href="{{ news[2].url }}" data-layout="button" data-size="large" data-mobile-iframe="true" style="float: left; margin-right: 5px;">
									<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ news[2].urlEncoded }}&amp;src=sdkpreparse">
										<img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}">
									</a>
								</div>
							</li>
							<!-- Twitter -->
							<li>
								<a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text={{ news[2].titulo }}&url={{ news[2].urlEncoded }}">
									<img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}">
								</a>
							</li>
							<!-- Mail -->
							<li>
								<a href="mailto:?subject={{ news[2].titulo }}&body={{ news[2].url }}" target="_blank" title="Send email">
									<img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
				<a href="{{ arrayUrlAjax.UrlOtherNews}}" class="waves-effect waves-light btn-large pink darken-3 OtrasNoticias hide-on-large-only">Otras <b>Noticias</b></a>
		</div>	
	</div>
	
	<div class="row">	
		<div class="col s12">
			<div class="divider"></div>
		</div>
	</div>
	<br>
		
	<div class="row">
		<div class="col s12 l4 center">	
			<div><img src="{{ asset('bundles/public/images/bancociudad.jpg') }}" style="width: 320px; height: 250px;"></div>						
		</div>
		
		<div class="col s12 l4 center">
			<div><img src="{{ asset('bundles/public/images/legislaturaportena.jpg') }}" style="width: 320px; height: 250px;"></div>							
		</div>
		
		<div class="col s12 l4 center">
			<div><img src="{{ asset('bundles/public/images/sosgardel.jpg') }}" style="width: 320px; height: 250px;"></div>							
		</div>
	</div>

	<div class="row center">	
	  <div class="parallax-container valign-wrapper" style="height:150px; margin: 40px 0 40px 0">
		<div class="center col s12 center"><img src="{{ asset('bundles/public/images/logoColor.png') }}" class="responsive-img"></div>
		<div class="parallax"><img src="{{ asset('bundles/public/images/buenos_aires.jpg') }}" style="filter: grayscale(); opacity: 0.5;"></div>
	  </div>
	</div>  
	
	<div class="container" style="margin-bottom:150px;">		
		<div class="row">
			<div class="col s12 l6">
				<div class="row">
					<div class="col s12 l6">
						{% if news[3].imagen %}
						<div><img src="{{ asset('bundles/public/upload/news/') }}{{ news[3].imagen }}" style="" width="100%"></div>
						{% endif %}
					</div>	
					<div class="col s12 l6">
						<div class="titleNews2">{{ news[3].titulo }}</div>
						<div id="divTextNoticia3" class="copeteTxt ellipsisText" style="max-height: 120px;">{{ news[3].texto|raw }}
							<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[3].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
						</div>	
						<div>
							<ul class="share-buttons">
								<!-- Facebook -->
								<li>
									<div class="" data-href="{{ news[3].url }}" data-layout="button" data-size="large" data-mobile-iframe="true" style="float: left; margin-right: 5px;">
										<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ news[3].urlEncoded }}&amp;src=sdkpreparse">
											<img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}">
										</a>
									</div>
								</li>
								<!-- Twitter -->
								<li>
									<a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text={{ news[3].titulo }}&url={{ news[3].urlEncoded }}">
										<img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}">
									</a>
								</li>
								<!-- Mail -->
								<li>
									<a href="mailto:?subject={{ news[3].titulo }}&body={{ news[3].url }}" target="_blank" title="Send email">
										<img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}">
									</a>
								</li>
							</ul>
						</div>						
					</div>
				</div>
				<div class="divider"></div>					
				<br>
			</div>	
			
			<div class="col s12 l6">
				<div class="row">
					<div class="col s12 l6">
						{% if news[4].imagen %}
						<div><img src="{{ asset('bundles/public/upload/news/') }}{{ news[4].imagen }}" style="" width="100%"></div>
						{% endif %}
					</div>	
					<div class="col s12 l6">
						<div class="titleNews2">{{ news[4].titulo }}</div>
						<div id="divTextNoticia4" class="copeteTxt ellipsisText" style="max-height: 120px;">{{ news[4].texto|raw }}
							<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[4].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
						</div>	
						<div>
							<ul class="share-buttons">
								<!-- Facebook -->
								<li>
									<div class="" data-href="{{ news[4].url }}" data-layout="button" data-size="large" data-mobile-iframe="true" style="float: left; margin-right: 5px;">
										<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ news[4].urlEncoded }}&amp;src=sdkpreparse">
											<img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}">
										</a>
									</div>
								</li>
								<!-- Twitter -->
								<li>
									<a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text={{ news[4].titulo }}&url={{ news[4].urlEncoded }}">
										<img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}">
									</a>
								</li>
								<!-- Mail -->
								<li>
									<a href="mailto:?subject={{ news[4].titulo }}&body={{ news[4].url }}" target="_blank" title="Send email">
										<img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}">
									</a>
								</li>
							</ul>
						</div>						
					</div>
				</div>
				<div class="divider"></div>					
				<br>
			</div>		
		</div>	
		<div class="row">		
			<div class="col s12 l6 center">	
				<div><img src="{{ asset('bundles/public/images/publi-3.jpg') }}" style="width: 320px; height: 250px;"></div>
			</div>
			<div class="col s12 l6 center">
				<div><img src="{{ asset('bundles/public/images/codigo5411.jpg') }}" style="width: 320px; height: 250px;"></div>
			</div>	
		</div>
	</div>
	<input id="UrlAjaxPopupPortalNewsView" name="UrlAjaxPopupPortalNewsView" type="hidden" value="{{ arrayUrlAjax.UrlAjaxPopupPortalNewsView }}">
</main>
  
<script>

</script>		
	
{% endblock %}