{% extends 'base.html.twig' %}

{% block body %}

<main>

	<div class="row" style="margin-top: 10px !important;">
		<div class="col s12 l6">
			<div class="card">
				<!--<a href="javascript:void(0);" onclick="javascript:FxOpenModal();">-->
				<!--!a href="#divModal">-->
					<div class="card-content">
						<div class="titleNews">{{ news[0].titulo }}</div>
						<div id="divTextNoticia0" class="copeteTxt ellipsisText" style="max-height: 120px;">{{ news[0].texto|raw }}
							<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[0].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
						</div>
						{% if news[0].imagen %}
						<div><img src="{{ asset('bundles/public/upload/news/') }}{{ news[0].imagen }}?rnd={{ news[0].rndNumber }}" style="" width="100%"></div>
						{% endif %}
						<div>
							<ul class="share-buttons">
								<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnoticias%23.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}"></a></li>
								<li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fnoticias%23.com&text=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}"></a></li>
								<li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}"></a></li>
							</ul>
						</div>
					</div>
				<!--</a>-->
			</div>
		</div>
			
		<div class="col s12 l2">				
				<div class="News2">
					<div class="titleNews">{{ news[1].titulo }}</div>
					<div id="divTextNoticia1" class="copeteTxt ellipsisText" style="max-height: 300px;">{{ news[1].texto|raw }}
						<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[1].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
					</div>
					<!--<div><img src="{{ asset('bundles/public/images/posadas.jpg') }}" style="filter: grayscale();" width="100%"></div>-->		
					<div>
						<ul class="share-buttons">
							<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnoticias%23.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}"></a></li>
							<li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fnoticias%23.com&text=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}"></a></li>
							<li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}"></a></li>
						</ul>
					</div>
				</div>
				
				<div class="section">
					<div class="divider"></div>
				</div>
			<a href="{{ arrayUrlAjax.UrlOtherNews}}" class="waves-effect waves-light btn-large pink darken-3 OtrasNoticias hide-on-med-and-down" style="margin-top:10%;">Otras <b>Noticias</b></a>
		</div>	
		<div class="col s12 l4">	
			<div class="card">
				<div class="card-content">
					<div class="titleNews">{{ news[2].titulo }}</div>
					<div id="divTextNoticia2" class="copeteTxt ellipsisText" style="max-height: 120px;">{{ news[2].texto|raw }}
						<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[2].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
					</div>
					{% if news[2].imagen %}
					<div><img src="{{ asset('bundles/public/upload/news/') }}{{ news[2].imagen }}?rnd={{ news[2].rndNumber }}" style="" width="100%"></div>
					{% endif %}
					<div>
						<ul class="share-buttons">
							<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnoticias%23.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}"></a></li>
							<li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fnoticias%23.com&text=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}"></a></li>
							<li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}"></a></li>
						</ul>
					</div>
				</div>
			</div>
				<a href="{{ arrayUrlAjax.UrlOtherNews}}" class="waves-effect waves-light btn-large pink darken-3 OtrasNoticias hide-on-large-only">Otras <b>Noticias</b></a>
		</div>	
	</div>
	
	<div class="row">	
		<div class="col s12">
			<div class="divider"></div>
		</div>
	</div>
	<br>
		
	<div class="row">
		<div class="col s12 l4 center">	
			<div><img src="{{ asset('bundles/public/images/publi-1.jpg') }}" style="width: 320px; height: 250px;"></div>						
		</div>
		
		<div class="col s12 l4 center">
			<div><img src="{{ asset('bundles/public/images/publi-2.jpg') }}" style="width: 320px; height: 250px;"></div>							
		</div>
		
		<div class="col s12 l4 center">
			<div><img src="{{ asset('bundles/public/images/trivago.jpg') }}" style="width: 320px; height: 250px;"></div>							
		</div>
	</div>

	<div class="row center">	
	  <div class="parallax-container valign-wrapper" style="height:150px; margin: 40px 0 40px 0">
		<div class="center col s12 center"><img src="{{ asset('bundles/public/images/logoColor.png') }}" class="responsive-img"></div>
		<div class="parallax"><img src="{{ asset('bundles/public/images/buenos_aires.jpg') }}" style="filter: grayscale(); opacity: 0.5;"></div>
	  </div>
	</div>  
	
	<div class="container" style="margin-bottom:150px;">		
		<div class="row">
			<div class="col s12 l6">
				<div class="row">
					<div class="col s12 l6">
						{% if news[3].imagen %}
						<div><img src="{{ asset('bundles/public/upload/news/') }}{{ news[3].imagen }}?rnd={{ news[3].rndNumber }}" style="" width="100%"></div>
						{% endif %}
					</div>	
					<div class="col s12 l6">
						<div class="titleNews2">{{ news[3].titulo }}</div>
						<div id="divTextNoticia3" class="copeteTxt ellipsisText" style="max-height: 120px;">{{ news[3].texto|raw }}
							<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[3].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
						</div>	
						<div>
							<ul class="share-buttons">
								<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnoticias%23.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}"></a></li>
								<li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fnoticias%23.com&text=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}"></a></li>
								<li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}"></a></li>
							</ul>
						</div>						
					</div>
				</div>
				<div class="divider"></div>					
				<br>
			</div>	
			
			<div class="col s12 l6">
				<div class="row">
					<div class="col s12 l6">
						{% if news[4].imagen %}
						<div><img src="{{ asset('bundles/public/upload/news/') }}{{ news[4].imagen }}?rnd={{ news[4].rndNumber }}" style="" width="100%"></div>
						{% endif %}
					</div>	
					<div class="col s12 l6">
						<div class="titleNews2">{{ news[4].titulo }}</div>
						<div id="divTextNoticia4" class="copeteTxt ellipsisText" style="max-height: 120px;">{{ news[4].texto|raw }}
							<a href="javascript:void(0)" onclick="javascript:FxOpenModalNewsViewJS('{{ news[4].hashedId }}');" class="readMore" style="display: none;">Seguir leyendo &raquo;</a>
						</div>	
						<div>
							<ul class="share-buttons">
								<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnoticias%23.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}"></a></li>
								<li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fnoticias%23.com&text=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}"></a></li>
								<li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fnoticias%23.com" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}"></a></li>
							</ul>
						</div>						
					</div>
				</div>
				<div class="divider"></div>					
				<br>
			</div>		
		</div>	
		<div class="row">		
			<div class="col s12 l6 center">	
				<div><img src="{{ asset('bundles/public/images/publi-3.jpg') }}" style="width: 320px; height: 250px;"></div>
			</div>
			<div class="col s12 l6 center">
				<div><img src="{{ asset('bundles/public/images/publi-5.jpg') }}" style="width: 320px; height: 250px;"></div>
			</div>	
		</div>
	</div>
	<input id="UrlAjaxPopupPortalNewsView" name="UrlAjaxPopupPortalNewsView" type="hidden" value="{{ arrayUrlAjax.UrlAjaxPopupPortalNewsView }}">
</main>
  
<script>

</script>		
	
{% endblock %}