		<div id="modalPopup" class="modal">
			<div class="modal-content">
				<div class="titleNews">{{ popupData.noticiaData.titulo }}</div>
				<!--<div class="copeteTxt">lorem ipsum dolor sit amet consectetur adipiscing elit sed</div>-->
				{% if popupData.noticiaData.imagen %}
				<div><img src="{{ asset('bundles/public/upload/news/') }}{{ popupData.noticiaData.imagen }}" style="" width="100%"></div>
				{% endif %}
				<div>
					<ul class="share-buttons">
						<!-- Facebook -->
						<li>
							<div class="" data-href="{{ popupData.noticiaData.url }}" data-layout="button" data-size="large" data-mobile-iframe="true" style="float: left; margin-right: 5px;">
								<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ popupData.noticiaData.urlEncoded }}&amp;src=sdkpreparse">
									<img alt="Share on Facebook" src="{{ asset('bundles/public/images/Facebook.png') }}">
								</a>
							</div>
						</li>
						<!-- Twitter -->
						<li>
							<a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text={{ popupData.noticiaData.titulo }}&url={{ popupData.noticiaData.urlEncoded }}">
								<img alt="Tweet" src="{{ asset('bundles/public/images/Twitter.png') }}">
							</a>
						</li>
						<!-- Mail -->
						<li>
							<a href="mailto:?subject={{ popupData.noticiaData.titulo }}&body={{ popupData.noticiaData.url }}" target="_blank" title="Send email">
								<img alt="Send email" src="{{ asset('bundles/public/images/Email.png') }}">
							</a>
						</li>
					</ul>
				</div>	
				<div class="divider"></div>
				<div>
					<p class="">{{ popupData.noticiaData.texto|raw }}</p>
					<blockquote><b>{{ popupData.noticiaData.autor }}</b></blockquote>
				</div>
			</div>
			<!-- Si esta en "No Publicado o Borrador" -->
			{% if popupData.noticiaData.estado != 1 and backend %} 
			<div class="modal-footer">
				<a href="javascript:void(0);" class=" modal-action modal-close waves-effect waves-green btn-flat ble">Cancelar</a>
				<a href="javascript:void(0);" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:FxPublishNewsJS();">Publicar</a>
			</div>
			<input id="hiddenNoticiaIdHashed" name="hiddenNoticiaIdHashed" type="hidden" value="{{ popupData.noticiaData.hashedId }}">
			{% endif %}
		</div>
		

