{% extends 'base.html.twig' %}

{% block body %}

<!-- JS -->
<script src="{{ asset('bundles/public/js/Backend/news.js') }}" type="text/javascript"></script>

<body>

	<main>
		<!-- Dropdown Structure -->
		<ul id='dropdownUser' class='dropdown-content'>
			<li><a href="#!">Editar</a></li>
			<li class="divider"></li>
			<li><a href="{{ arrayUrlAjax.UrlLogin }}">Salir</a></li>
		</ul>
		  
		<!-- Dropdown Structure -->
		<ul id='dropdownMobile' class='dropdown-content'>
			<li><a href="#!">Editar</a></li>
			<li class="divider"></li>
			<li><a href="{{ arrayUrlAjax.UrlLogin }}">Salir</a></li>
		</ul>			  
  
		<nav class="nav-extended blue darken-3">
			<div class="nav-wrapper headerMarginCustom">
				<a href="{{ arrayUrlAjax.UrlHome }}" class="brand-logo"><b>Noticias</b> Online</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{ arrayUrlAjax.UrlHome }}">Noticias</a></li>
					<li><a class="dropdown-button" href="#!" data-activates="dropdownUser">UserName<i class="material-icons right">person_pin</i></a></li>
				</ul>
				<ul id="mobile-demo" class="side-nav">
					<li><a href="{{ arrayUrlAjax.UrlHome }}">Noticias</a></li>
					<li><a class="dropdown-button" href="#" data-activates="dropdownMobile">Usuario<i class="material-icons right">person_pin</i></a></li>
				</ul>
			</div>
		</nav>
		  
		<div class="row">
			<div class="col s12">
				<div class="section">
					<h5><b>Gestor de Noticias</b></h5>
				</div>
				
				<table class="responsive-table highlight bordered ">
					<thead>
						<tr>
							<th class="center">Fecha</th>
							<th>Título</th>
							<th>Texto</th>
							<th>Autor</th>
							<th class="center">Posición</th>
							<th class="center">Estado</th>
							<th class="center">Editar</th>  
							<th class="center">Eliminar</th>	
						</tr>
					</thead>
					<tbody id="divAjaxGridNews">
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- Paginator -->
		<div id="divPaginator" class="center"></div>
		
		<!-- Add Button -->
		<div class="row">
			<div class="col s12">
				<a class="btn-floating btn-large waves-effect waves-light red right" href="javascript:void(0);" onclick="javascript:FxOpenModalPopupNewsJS(0);"><i class="material-icons">add</i></a>	  
			</div>	
		</div>
		
		<div id="divResponseAjaxPopupModal"></div>
		<div id="divLoading"></div>
		<input id="pageCount" name="pageCount" type="hidden" value="{{ pageCount }}">
		<input id="UrlAjaxPopup" name="UrlAjaxPopup" type="hidden" value="{{ arrayUrlAjax.UrlAjaxPopup }}">
		<input id="UrlAjaxGetGridPage" name="UrlAjaxGetGridPage" type="hidden" value="{{ arrayUrlAjax.UrlAjaxGetGridPage }}">
	</main>
	
</body>

	
<script>
$(document).ready(function(){
	//FxGetGridNews();
});       
</script>
	
{% endblock %}