{% extends 'base_backend.html.twig' %}

{% block body %}

<!-- JS -->
<script src="{{ asset('bundles/public/js/Backend/news.js') }}" type="text/javascript"></script>

<!-- TinyMCE Editor -->
<script src="{{ asset('bundles/public/lib/tinymce/tinymce.min.js') }}" type="text/javascript"></script>

<main>
	<div class="row">
		<div class="col s12">
			<div class="section">
				<h5><b>Gestor de Noticias</b></h5>
			</div>
			
			<table class="responsive-table highlight bordered ">
				<thead>
					<tr>
						<th class="center">Fecha</th>
						<th>Título</th>
						<th>Texto</th>
						<th>Autor</th>
						<th class="center">Posición</th>
						<th class="center">Estado</th>
						<th class="center">Visualizar</th>  
						<th class="center">Editar</th>  
						<th class="center">Eliminar</th>	
					</tr>
				</thead>
				<tbody id="divAjaxGridNews">
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- Paginator -->
	<div id="divPaginator" class="center"></div>
	
	<!-- Add Button -->
	<div class="row">
		<div class="col s12">
			<a class="btn-floating btn-large waves-effect waves-light red right" href="javascript:void(0);" onclick="javascript:FxOpenModalNewsAddEditJS(0);"><i class="material-icons">add</i></a>	  
		</div>	
	</div>
	
	<input id="pageCount" name="pageCount" type="hidden" value="{{ pageCount }}">
	<input id="pageActual" name="pageActual" type="hidden" value="">
	<input id="UrlAjaxPopupNewsAddEdit" name="UrlAjaxPopupNewsAddEdit" type="hidden" value="{{ arrayUrlAjax.UrlAjaxPopupNewsAddEdit }}">
	<input id="UrlAjaxPopupNewsView" name="UrlAjaxPopupNewsView" type="hidden" value="{{ arrayUrlAjax.UrlAjaxPopupNewsView }}">
	<input id="UrlAjaxGetGridNewsPage" name="UrlAjaxGetGridNewsPage" type="hidden" value="{{ arrayUrlAjax.UrlAjaxGetGridNewsPage }}">
	<input id="UrlAjaxSaveNews" name="UrlAjaxSaveNews" type="hidden" value="{{ arrayUrlAjax.UrlAjaxSaveNews }}">
	<input id="UrlAjaxPublishNews" name="UrlAjaxPublishNews" type="hidden" value="{{ arrayUrlAjax.UrlAjaxPublishNews }}">
	<input id="UrlAjaxDeleteNews" name="UrlAjaxDeleteNews" type="hidden" value="{{ arrayUrlAjax.UrlAjaxDeleteNews }}">
</main>
	
	
<script>
$(document).ready(function(){

});       
</script>
	
{% endblock %}