						{% for noticia in noticias %}
						<tr>
							<td class="center">{{ noticia.fecha }}</td>
							<td>{{ noticia.titulo }}</td>
							<td>{{ noticia.textoShort }}</td>
							<td>{{ noticia.autor }}</td>
							<td class="center">{{ noticia.posicion }}</td>
							<td class="center">{{ noticia.estado }}</td>
							<td class="center">
								<i class="pointerOnHover material-icons blue-text" onclick="javascript:FxEditNews('{{ noticia.hashedId }}');">edit</i>
							</td>
							<td class="center">
								<i class="pointerOnHover material-icons red-text" onclick="javascript:FxDeleteNews('{{ noticia.hashedId }}');">delete</i>
							</td>
						</tr>
						{% endfor %}
